.idea/
cmake-build-debug/
cmake-build-release/
.vs/
out/
build/
Debug/
temp/
*.log
*.tmp
*.swp
*.bak
.env
.DS_Store
*.xcodeproj
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
venv/
env/
__pycache__/
*/node_modules/*